@import "tailwindcss";

:root {
  --background: #182535;
  --foreground: #171717;
  --blue: #0698D6;
  --green: #50EA90;
  --black: #0A0F19;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #182535;
    --foreground: #ededed;
  }
}

  .animate-fill-up {
    animation: fillUp 2s cubic-bezier(0.2, 0.6, 0.8, 0.4) forwards;
  }
  .animate-fill-down {
    animation: fillDown 2s cubic-bezier(0.2, 0.6, 0.8, 0.4) forwards;
  }

  .animate-wave {
    animation: wave 0.6s linear infinite
  }

  @keyframes fillUp {
    0%   { transform: translateY(35px); }
    100% { transform: translateY(-5px); }
  }
  @keyframes fillDown {
    0%   { transform: translateY(-5px); }
    100% { transform: translateY(35px); }
  }

  @keyframes wave {
    0% { transform: translateX(-250px); }
    100% { transform: translateX(0); }
  }

.thumb {
  @apply absolute top-1/2 -translate-y-1/2 w-5 h-4 rounded-full bg-[#2D2D2D];
  transform: translateX(-50%);
  left: 50.7%;
  clip-path: polygon(0 0, 45% 0, 45% 100%, 0 100%);

}
.thumb.on {
  left: 49.2%;
  clip-path: polygon(58% 0, 100% 0, 100% 100%, 58% 100%);
}

/* «половинчатые» border у thumb-а */
.thumb::before,
.thumb::after {
  content: '';
  @apply absolute top-0 w-1/3 h-full;
}
.thumb::before        { left: 0;  border-radius: 9999px 0 0 9999px; }
.thumb::after         { right: 0; border-radius: 0 9999px 9999px 0; }

/* цвета border (зависят от состояния) */
.thumb.on::after      { border: 1px solid white; border-left: none;  }
.thumb:not(.on)::before { border: 1px solid white; border-right: none; }

body {
  background: #182535;
  color: var(--foreground);
  font-family: var(--manrope-regular);
}

html {
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

button {
  cursor: pointer;
}

details > summary { list-style: none; }
details > summary::-webkit-details-marker { display: none; }